*{margin:0;
   padding:0;
   font-family:'Roboto',sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
   
}




.navbar {
    background: #ffff;
      
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    position: sticky;
    z-index: 999;
    flex-wrap: wrap;
}





.navbar__container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    box-shadow: black;
}


#navbar__logo {
    letter-spacing: 0.5px;
    background: #00d2ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3a7bd5, #00d2ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3a7bd5, #00d2ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    
}

.navbarlogo__effect:hover{
color: #030303 to #ffff;
transition: all 0.3s ease;
}


.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;

}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: black;
    display: flex;
    align-items: center;
    width: 125px;
    justify-content: center;
    text-decoration: none;
    height: 100%;
   letter-spacing: 1px;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #9518fc;
    transition: all 0.3s ease;
}


@media screen and (max-width:960px) {

    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;

    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;

    }

    .navbar__menu.active {
      background-color: rgba(231, 227, 227, 0.755);


        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;

    }

    #navbar__logo {
        padding-left: 25px;

    }
   
   .navbarlogo__effect:hover{
     color:#fff;
     transition: all 0.3s ease;
   }
    
   .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background: rgb(52, 47, 47);
    }

    .navbar__item {
        width: 100%;

    }

    .navbar__links {
        text-align: center;
        padding: 0.0051rem;
        width: 100%;
        display: flow-root;
        color:#110000;
    }
    
    .navbar__links:hover {
        color:#fff;
        transition: all 0.3s ease;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        translate: (5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);

    }
}





/*welcome section*/


.welcome {
  


    background-size: cover;
    height: auto;
    width: 100%;
    /*background:#000000 ;*/
    /*background:linear-gradient(to right,#161616,#000000) ;*/
    padding: 200px 0;
}

.welcome__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;

}


.welcome__heading {
    font-size: 45px;
    margin-bottom: 24px;
    
}

.welcome__heading span {
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

 font-size: 50px;
 letter-spacing: 2px;
}

.welcome__note {
   
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 25px;
 letter-spacing: 2px;
}


@media screen and (max-width: 768px) {
    .welcome__heading {
        font-size: 60px;
        text-align: center;
        align-items: center;
        text-shadow: grey;
    }

    .welcome__note {
        font-size: 40px;
    }


}


  


.primary__btn {
        
       font-family: 'Montserrat';
       display: inline-block;
       height: 45px;
       padding: 5px 30px;
       text-align: center;
       font-size: 12px;
       font-weight: 600;
       line-height: 42px;
       letter-spacing: 2px;
       margin: 20px 0;
       text-transform: uppercase;
       text-decoration: none !important;
       white-space: nowrap;
       cursor: pointer;
       background-color: #387ed1;
       background: #4285f4;
       color: #FFFFFF;
       
       border: 1px solid transparent !important;
       border-radius: 50px;
       box-sizing: border-box;
       -webkit-transition: 0.2s;
       -moz-transition: 0.2s;
       transition: 0.2s;
   
}
.primary__btn a{text-decoration: none;
                     color: blanchedalmond; 
                    letter-spacing: 5px;  }
.primary__btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}






/*feature section*/

.row{
    padding: auto;
    margin: auto;
}


.Feature__description {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row nowrap;
}

.Feature__description h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: cornflowerblue;
}

section.mobile-container {
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 5%;

}

.listing {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.listing>div {
    flex-basis: 100%;
    display: flex;
    border-radius: 10px;
    margin: 6px;
    transition: all 0.3s ease-in-out;
}

.listing>div:hover {
    background-color: #ffeded;
}

.listing>div:hover .icon i {
    color: black;
}

.icon {
    flex-basis: 25%;
    text-align: center;
    padding-top: 10px;
}

.icon i {
    font-size: 2em;
    color: gray;
    transition: all 0.3s ease-in-out;
}

.description {
    flex-basis: 75%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.description>p {
    font-size: 14px;
}

.phone-box {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.phone-box>img {
    width: 100%;
}
.phone-box>img>a {
    
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration:underline;
    font-size: 2rem;
    
}

.phone-box .logo__inside {
    background-color: #b548a6;
    background-image: linear-gradient(to top, #561139 0%, #99aaff 100%);
}


.phone-box>div {
    position: absolute;
   
    width: 66%;
    height: 91%;
    top: 17px;
    background-size: cover;
    border-radius: 25px;
    z-index: -1;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
}


/*Responsiveness*/

@media only screen and (max-width: 800px) {
    section.mobile-container {
        flex-direction: column;
    }

    .phone-box>div {
        top: 12px;
    }

    .phone-box {
        order: 1;
    }

    .listing:first-child {
        order: 2;
    }

    .listing:last-child {
        order: 3;
    }
}
/*team section*/

.Team__section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    
}

 .Team{display: flex;
    position: relative;
    top: 10px;
justify-content: center;
align-items: center;
flex-wrap: wrap;
flex-flow: row nowrap;
align-content: center;
text-align: center;
padding: 10 10;
}
.Team h1{font-size: 30px;
         text-transform: uppercase;
        color: cornflowerblue;}
.section__Team::before{content: '';
                       position: absolute;
                    width: 100%;
                height: 100%; 
              top:0;
          left: 0;
        
    clip-path: circle(25% at right 60%);}


.section__Team::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: circle(20% at 10% 10%);
    

}


.containerT{position: relative;
  z-index: 1;
display: flex;
justify-content: center;
align-items:center ;
flex-wrap: wrap;
margin: 40px 0; }

.containerT .card{position: relative;
width: 200px;
height: 400px;
background: rgba(255, 255,255, 0.06); 
box-shadow: 0 15px 35px rgba(0, 0,0, 0.2);
margin: 20px;
border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.1);
display: flex;
justify-content: center;
align-items: center;
backdrop-filter: blur(10px) saturate(180%);
}
.containerT .card .content{position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
opacity: 0.9;
transition: 0.5s;}

.containerT .card .sci{position: absolute;
bottom: 50px;
display: flex;
}
.containerT .card .sci li {
    list-style: none;
margin: 0 10px;
transform: translateY(40px);}

.containerT .card .sci li a{color: black;
                            font-size: 22px;
                        opacity: 0;
                    transition: 0.5s;}
.containerT .card .sci li a:hover {
    color: blue;
    font-size: 23px;
}

.containerT .card:hover .sci li a {
    transform: translateY(0px);
     opacity: 1;
     
}



.containerT .card:hover .content{opacity:1.2;}
.containerT .card .content .contentBx h3{color: grey;
                                         text-transform: uppercase;
                                        letter-spacing: 2px;
                                    font-size: 18px;
                                margin: 20px 0 10px;
                            line-height: 1.1em;
                        }

.containerT .card .content .contentBx h3 span{font-size: 12px;
font-weight: 300;
text-transform: initial;}


.containerT .card .content .img__Bx{position: relative;
 width: 150px;
height: 150px;
border-radius: 50%;
overflow: hidden;
border:10px solid rgba(0,0,0,0.25)}


.containerT .card .content .img__Bx img{

    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*footer*/
.foot__Text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row nowrap;
}

.foot__Text h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: cornflowerblue;
}


.white__section {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    background-color: grey;
 }

.sciFoot{position: absolute;
            display: flex;
        align-content: center;
         flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
        margin: 30px;
    flex-wrap: wrap;
margin: 10px;

}

.sciFoot li{list-style: none;
margin: 0 10px;
}

.sciFoot li a{color: black;}

.sciFoot li a:hover {
    color:blue;
}
    .white__section p{
        
        position: absolute;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-flow: row nowrap;
        padding: 30px 30px;        
    }



    @media only screen and (max-width: 800px) {
       .containerT .card {
           width: 500px;
       }
    
     

    }